.myflexcont {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    margin: 0 20px 0px 20px;
    min-width: 300px;
    opacity: 1;
    padding-bottom: 20px;
}

.myflexcont:hover {
    opacity: 0.6;
    cursor: pointer;
}

.myflexcont:active .myflexboxName {
    background: #f1f5f3;
}

.myflexcont:active .myflexboxText {
    background: #f1f5f3;
}

.myflexboxName {
    flex: 1 1 auto;
    box-shadow: 2px 5px 5px grey;
    padding: 5px;
    align-self: flex-start;
    border-radius: 10px;
    font-weight: 600;
    color: #080c33;
    margin: 8px 0 0 0;
    opacity: 1;
    border: 1px solid #4c3807;
}

.myflexboxText {
    flex: 1 1 auto;
    box-shadow: 2px 5px 5px grey;
    padding: 5px;
    border: solid grey 2px;
    border-radius: 10px;
    color: #0f0f10;
    opacity: 1;
}

.myflexboxText:hover .myflexboxName {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .myflexcont {
        font-size: 0.9em;
    }
}

.myButtonFlex {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 20px 0px 20px;
    border: solid grey 2px;
    border-radius: 10px;
    color: #0f0f10;
    /*height: 100px;*/
    min-width: 300px;
    padding: 10px;

}

.allBlock {
    display: flex;
    flex-flow: row;
}

.nameBlock div {
    margin: 10px;
}

.item {
    margin: 10px;
    height: 30px;
}

.inputNumber {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    gap: 0.9rem;
}

.sliderBlockNone {
    display: none;
}

.sliderBlockContent {
    display: contents;
}

.mainButton {
    text-align: center;
}

.mainButton button {
    margin: 20px;
}

.override {
    display: block;
    margin: 0 auto;
    border: red;
}

.head {
    text-align: center;
    margin-bottom: 10px;
}