.wrapper {
    display: flex;
    height: 100vh;
    width: 100vm;
    flex-direction: column;
    color: #0f0f10;
    /*border: 3px solid green;*/
}

.content {
    flex: 1 1 auto;
    background: #f5f2f1;
    margin: 50px 0 0 0;
    /*border:  3px solid blue ;*/
}

.container {
    min-width: 350px;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;
    background: #fdfdfe;
    /*border: solid 1px red*/

}

