
.body{
    padding: 0 10px 0 10px;
    font-family: Arial;
    color: #0f0f10;
}

.nameTheme{
font-weight: 600;
    text-align: center;
    font-size: 14px;
}

.boxCountQuestions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    font-weight: 600;
}

.table{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;

}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #4c3807;
    justify-content: space-between;
    width: 90px;
    font-size: 16px;
}
.tableText{
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    line-height: 1.0;
    margin: 1px 1px 4px 1px
}

.tableS1{
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.tableS2{
    color: green;
    font-weight: 600;
}
.tableS3{
   margin-top: 10px;
    color: red;
    font-weight: 600;
}

.circular{
    margin: 4px;
}

.question{
    font-size: 17px;
}
.questionText{

    margin-top: 30px;
    margin-bottom: 30px;
/*font-weight: 600;*/
    text-align: center;
    box-shadow: 3px 3px 3px #b7b7bd;
}

.boxRadio{
    display: flex;
    font-family: Arial;

    justify-content: center;
}


.radio {
    margin-bottom: 5px;

    border: 2px solid #ece8e8;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #b7b7bd;

}

.radioText{
    font-family: Arial;
    color: #0f0f10;
    line-height: 1.0;
    font-size: 1.2em;
}



.radioAnswerOK{
    background:#a3ffa7;
}
.radioAnswerNO{
    background:#ff8983;
}

.buttonNext{
   margin-top: 25px;
    text-align: center;
}
.buttonNextText{
}

.blokCorrectAnswer{
    font-size: 14px;
    margin-top: 40px;
}

.latin{
   font-style: italic;
}

.hr{
    width: 100%;
    margin-bottom: 5px;
}

.imageBox{
    text-align: center;
    margin-bottom: 20px;
}