

.myflexcont  {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    margin: 0 20px 0px 20px;
    min-width: 300px;
    opacity: 1;
}


.myflexcont:hover {
    opacity: 0.6;
    cursor: pointer;
}
.myflexcont:active .myflexboxName {
    background: #f1f5f3;
}
.myflexcont:active .myflexboxText {
    background: #f1f5f3;
}


.myflexboxName  {
    flex: 1 1 auto;
    box-shadow: 2px 5px 5px grey;
    padding: 5px;
    align-self: flex-start;
    border: solid grey 3px;
    border-radius: 10px;
    font-weight: 600;
    color: #080c33;
    margin: 8px 0 0 0;
    opacity: 1;
}
.myflexboxText  {
    flex: 1 1 auto;
    box-shadow: 2px 5px 5px grey;
    padding: 5px;
    border: solid grey 2px;
    border-radius: 10px;
    color: #0f0f10;
    opacity: 1;
}
.myflexboxText:hover .myflexboxName{
    opacity: 0.6;
}
/*.myflexboxName:hover{*/
/*    opacity: 0.6;*/
/*}*/






@media screen and (max-width: 600px) {
    .myflexcont{
        font-size: 0.9em;
    }
}

.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #24ec93;
}

.header{
    position: fixed;
    width: 100%;
  /*  !*width: 100%;*!*/
  /*!*height: 120px;*!*/
    background: #3a3937;
   min-height: 50px;
    z-index: 1000;
}
.content{
    margin: 20px 0 0px  0;
    flex: 1 1 auto;
    background: #ecd7af;
}
.footer{
    /*position: fixed;*/
    width: 100%;
    min-height: 100px;
    background: #3a3937;
}


.container{
    max-width: 1200px;
    height: 100%;
    /*border: 1px solid red;*/
    margin: auto;
    padding: 60px 0 50px 0;
    /*padding: 20px;*/
background: #ecd7af;
}


.myButtonFlex {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 20px 0px 20px;
    border: solid grey 2px;
    border-radius: 10px;
    color: #0f0f10;
    /*height: 100px;*/
    min-width: 300px;
    padding: 10px;

}



.allBlock{

    display: flex;
    flex-flow: row;
    /*gap: 0.8rem;*/
}

.nameBlock div{
  margin: 10px;
}

.item{
    margin: 10px;
   /*border: solid 1px red;*/
    height: 30px;

}

.inputNumber{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    gap: 0.9rem;
}
.sliderBlockNone{
    display: none;
}
.sliderBlockContent{
    display: contents;
}
.mainButton {
    text-align: center;
}
.mainButton button{
    margin: 20px;
}